<?php
define("CONFIG_URL", "/");
define("CONFIG_ROOT", __DIR__."/");
define("CONFIG_WWW", CONFIG_ROOT."www/");
define("CONFIG_LIB", CONFIG_ROOT."lib/");
define("CONFIG_DB", CONFIG_ROOT."database/data.db");
define("CONFIG_LOG", CONFIG_ROOT."database/log.db");
define("CONFIG_TITLE", "SimpleIPD");
?>
